# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
venv/
.venv/

# Local secrets
.env

# Local data / build artifacts
# !! IMPORTANT: Do not copy the local vector store
vector_store/

# IDE / OS files
.idea/
.vscode/
.DS_Store
